
.newGridButton{
    text-align: center;
    padding-top: 5px;
}

.gridItem{
    text-align: center;
    border: 0.1px solid;
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}
.row{
    font-size: 0;

}
.gridItem-hover{
    background-color: black;
}

.grid-clear{
    background-color: white;
}
.row{
    text-align: center;
}

.topOfContainer{
    margin-top: 50px;
}
